.body{
    height: 100vh;

}
/*font type */
@font-face{
    font-family: Norse-Bold;
    src: url(/Font/Norse-Bold.otf);
}

.container{
    display: flex;
}

.column{
    width: fit-content;
}

.plant{
    height: 100vh;
} 

/*ODIN logo*/ 
.odin{
    height: 7em;
    background-color: transparent;
    position: absolute;
    top: .8rem;
    left: 34%;
}
/*"ODIN" text */
.odinText{
    position: absolute;
    top: 2rem;
    left: 47%;
    font-family: Norse-Bold;
    font-size: 5rem;
    color: white;

}
/*rect. around odin logs*/
.logoContain{

    position: absolute;
    height: 10rem;
    width: 41rem;
    background-color: rgba(0, 0, 0, 0.4);
    
    bottom: 63%;

    }

.row{
    display: flex;
    flex-direction: column;
    height: 100%
} 
/*mysterious p margin messing things up */
p{
    margin: 0px;
}

/*first section */
p.fr{
    margin: 0px;
    padding-top: 12%;
    font-size: 2rem;
    padding-left: 4%;
    padding-right: 25%;
    background-color: rgb(250, 243, 243);
}
/*"you know it text" */
p.fr2{
    margin: 0px;
    font-size: 2rem;
    padding-top: 2%;
    padding-bottom: 2.85%;
    padding-left: 4%;
    padding-right: 12%;
    background-color: rgb(250, 243, 243);
}
/*makes label stay on top of input*/
label{
    display: block;
}
/*makes input stay on the same line (horizontal) vs vertical*/
.fullName, .contactInfo, .password{
    display: inline-block;
    margin-bottom: 2%;
    padding-left: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: ;
   

}
/*spaces right hand side form inputs & labels */
.rFullName, .rContactInfo, .rPassword{
    padding-left: 12%;
}
/*input field width & height */
input{
    width: 19rem;
    height: 1.5rem;
}
/*"lets do.." header */
h1{
    margin: 0px;
    padding-left: 4%;
    padding-top: 1%;
    margin-bottom: 1rem;
}

/*highlights input text fields */
input[type=text]:focus{
    outline-color: rgb(90, 90, 219);
    box-shadow: 0px 0px 5px rgb(99, 86, 86);
}

/*red highlight when invalid password */
input[type="password"]:invalid{
    outline: 1px solid red;

}

/*blue highight when valid passeord format */
input[type="password"]:valid {
    outline: 1px solid rgb(53, 53, 212)
}

/*footer section  */ 
.footer{
    padding-bottom: 23.5%;
    background-color: rgb(250, 243, 243);

}

/*create account button */
.button{
    padding: 9px 40px;
    border-radius: 5.5px;
    color: white;
    background-color: rgb(59, 73, 59);
}








/* figure out the contect-box sizing to set all
    the first section background color to gray. */

/*then do that to all the other sections */
